@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 86% 96%; /* custom modified value */
    --destructive-foreground: 0 74% 42%; /* custom modified value */
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;

    /* For customising Hanko components. */
    --color: #111827;
    --color-shade-1: #d1d5db;
    --brand-color: #884dee;
    --background-color: #ffffff;
    --headline1-font-size: 29px;
    --headline2-font-size: 16px;
    --border-radius: 6px;
    --font-size: 14px;
    --item-height: 36px;
    --link-color: #1c73e8;
    --divider-padding: 0 15px;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }

  ::selection {
    @apply bg-[#f4e6ff];
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  hanko-auth,
  hanko-profile {
    font-family: "Poppins", Sans;
    @apply shadow-2xl;
  }

  hanko-auth {
    --container-max-width: 640px;
    --container-padding: 40px;
  }

  hanko-profile {
    --container-max-width: 550px;
    --container-padding: 30px;
  }

  hanko-auth::part(container),
  hanko-profile::part(container) {
    @apply rounded-2xl;
    border: solid 1px #d8dee3;
  }

  hanko-auth::part(headline1),
  hanko-profile::part(headline1),
  hanko-auth::part(headline2),
  hanko-profile::part(headline2) {
    color: #1f2328;
    line-height: 36px;
  }

  hanko-auth::part(form-item) {
    @apply min-w-full;
  }

  hanko-auth::part(input),
  hanko-profile::part(input) {
    @apply mb-3 bg-white;
  }

  hanko-auth::part(secondary-button) {
    border-color: var(--color-shade-1);
  }

  hanko-auth::part(divider) {
    @apply mx-0 my-6;
  }

  .scrollbar-w-2::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
  }

  .scrollbar-track-blue-lighter::-webkit-scrollbar-track {
    --bg-opacity: 0.5;
    background-color: #00000015;
  }

  .scrollbar-thumb-blue::-webkit-scrollbar-thumb {
    --bg-opacity: 0.5;
    background-color: #13131374;
  }

  .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 7px;
  }
}
